# Maven build output
target/
*/target/

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# IDE files
.idea/
*.iml
*.iws
*.ipr

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Upload folder (project specific)
uploads/


# Environment variables
.env